.slick-slider .slick-prev
{
    left: 10%;
}
.slick-slider .slick-next
{
    right: 10%;
}
 
.slick-slider .slick-prev,
.slick-slider .slick-next
{
    z-index: 100;
}
 
.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
    font-size: 28px;
    color: #808080;
}