.card {
  margin: 20px;
  width: 598px;
  height: 378px;
  border: 1px solid #AFAFAF;
  border-radius: 4px;
}

.card_detail {
  margin: 21px 32px;
}

.card_detail_text {
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 10px;
}

.card_detail_avators img {
  margin-right: 10px;
  vertical-align: middle;
}

.card_detail_avators span {
  font-size: 14px;
  line-height: 20px;
  color: #AFAFAF;
  vertical-align: middle;
}